@import '../utils/variables';
body{
    background: #F5F5F5;
  
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    border: none;
    background: none;
}
img{
    width: 100%;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba($color: #000000, $alpha: 0.5);
    display: none;
}
.m-r{
    margin-right: 10px;
}