$dmSans: "DM Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$inter: "Inter", sans-serif;
$poppins: "Poppins", sans-serif;
$simpleGray: #F5F5F5;
$gray: #EBECEE;
$simpleblue:#003087;
$blue: #01286D;
$black:#000000;
$simpleblack:#202020;
$darkwhite:#F7F8FA;
$white:#ffffff;
$skyblue:#00B3FF;
$searchlabelcolor:#344054;