html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #F5F5F5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
}

.calenderOrtable-selector {
  padding: 14px 0;
}
.calenderOrtable-selector .calenderOrtable-button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.calenderOrtable-selector .calenderOrtable-button-area button {
  width: 40px;
  height: 35px;
  border-radius: 5px;
  font-size: 23px;
}
.calenderOrtable-selector .calenderOrtable-button-area button:first-child {
  background: #01286D;
  color: #ffffff;
}
.calenderOrtable-selector .calenderOrtable-button-area button:last-child {
  background: #ffffff;
  color: #01286D;
  border: 2px solid #EBECEE;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.calenderOrtable-selector .calenderOrtable-button-area button:last-child:hover {
  background: #01286D;
  color: #ffffff;
  border: none;
}

.resevation-search-area {
  margin-bottom: 40px;
}
.resevation-search-area .reservation-search-main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resevation-search-area .reservation-search-main-area .calender-header h1 {
  color: #202020;
  font-size: 38px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  padding-left: 49px;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .search-date-selector-box {
  border: 2px solid #202020;
  border-radius: 8px;
  padding: 12px 20px;
  height: 40px;
  position: relative;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .search-date-selector-box span {
  position: absolute;
  top: -10px;
  left: 12px;
  color: #202020;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0 8px;
  background: #F7F8FA;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .search-date-selector-box input {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  background: none;
  border: none;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .search-date-selector-box input:focus {
  outline: none;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .paidOrunpaid-selector {
  border: 2px solid #202020;
  border-radius: 8px;
  padding: 12px 20px;
  height: 40px;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .paidOrunpaid-selector select {
  font-size: 16px;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  background: none;
  border: none;
  margin-top: -5px;
  line-height: 24px;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .resevationtype-selector {
  border: 2px solid #202020;
  border-radius: 8px;
  padding: 12px 20px;
  height: 40px;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .resevationtype-selector select {
  font-size: 16px;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  background: none;
  border: none;
  margin-top: -5px;
  line-height: 24px;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .dailyOrmonthly-selector {
  border: 2px solid #202020;
  border-radius: 8px;
  padding: 12px 20px;
  height: 40px;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .dailyOrmonthly-selector select {
  font-size: 16px;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  background: none;
  border: none;
  margin-top: -5px;
  line-height: 24px;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .reservation-search-btn {
  padding: 8px 12px;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  line-height: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #01286D;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .reservation-search-btn:hover {
  background: #003087;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .new-reservation-btn {
  padding: 8px 12px;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  line-height: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #202020;
}
.resevation-search-area .reservation-search-main-area .reservation-search-property .new-reservation-btn:hover {
  background: black;
}

@media screen and (max-width: 1300px) {
  .resevation-search-area .reservation-search-main-area .calender-header h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .resevation-search-area .reservation-search-main-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 30px;
  }
  .resevation-search-area .reservation-search-main-area .calender-header h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 992px) {
  .resevation-search-area .reservation-search-main-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 30px;
  }
  .resevation-search-area .reservation-search-main-area .reservation-search-property {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container {
  overflow: auto;
  position: relative;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table {
  border-collapse: collapse;
  width: 100%;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table thead tr {
  height: 56px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table thead tr th {
  border: 1px solid #EBECEE;
  vertical-align: middle;
  text-align: center;
  min-width: 100px;
  background: #ffffff;
  color: #202020;
  font-size: 14px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table thead tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  top: 0;
  min-width: 153px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table thead tr th button img {
  width: 36px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table tbody td button {
  background: #EBECEE;
  width: 100%;
  height: 56px;
  color: #202020;
  font-size: 14px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  text-align: left;
  padding-left: 20px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table tbody td button .down-arrow {
  margin-left: 5px;
  font-size: 20px;
  margin-bottom: -4px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table tbody td button .down-arrow2 {
  margin-left: 5px;
  font-size: 20px;
  margin-bottom: -4px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table tbody td button .down-arrow3 {
  margin-left: 5px;
  font-size: 20px;
  margin-bottom: -4px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table tbody tr {
  height: 56px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table tbody tr td {
  border: 1px solid #EBECEE;
  white-space: normal;
  text-align: center;
  min-width: 100px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  vertical-align: middle;
  text-align: center;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table tbody tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  min-width: 153px;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table .room1 td {
  position: relative;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table .room1 td:nth-child(n+4):nth-child(-n+4)::after {
  content: "Kumar, Pritam - 301";
  width: 188px;
  position: absolute;
  background: #00B3FF;
  border-radius: 5px;
  z-index: 1;
  height: 38px;
  left: 5px;
  top: 9px;
  padding-top: 10px;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-left: 7px;
  cursor: pointer;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table .room2 td {
  position: relative;
}
.reservation-search-results-table-area .reservation-search-results-table-main-area .table-container table .room2 td:nth-child(n+3):nth-child(-n+3)::after {
  content: "Smith, John - NA";
  position: absolute;
  background: #00B3FF;
  border-radius: 5px;
  z-index: 1;
  height: 38px;
  left: 5px;
  top: 9px;
  padding-top: 10px;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-left: 7px;
  cursor: pointer;
  width: 384px;
}

.reservation-header {
  margin-top: 68px;
  margin-bottom: 23px;
}
.reservation-header .calender-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reservation-header .calender-header h1 {
  color: #202020;
  font-size: 38px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
.reservation-header .calender-header button {
  padding: 8px 12px;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  line-height: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #01286D;
}

.resevation-page-search-area {
  margin-bottom: 36px;
}
.resevation-page-search-area .reservation-page-search-main-area {
  padding: 36px;
  background: #ffffff;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 0.875fr 0.875fr 0.875fr 0.875fr 0.5fr;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 24px;
}
.resevation-page-search-area .reservation-page-search-main-area .search-data-input-item h1 {
  color: #344054;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
.resevation-page-search-area .reservation-page-search-main-area .search-data-input-item input {
  border: 2px solid #202020;
  border-radius: 8px;
  padding: 12px 20px;
  height: 40px;
  border: 1px solid #D0D5DD;
  color: #667085;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100%;
}
.resevation-page-search-area .reservation-page-search-main-area .search-data-input-item .date-input-area {
  position: relative;
}
.resevation-page-search-area .reservation-page-search-main-area .search-data-input-item .date-input-area input {
  border: 2px solid #202020;
  border-radius: 8px;
  padding: 12px 20px;
  height: 40px;
  border: 1px solid #D0D5DD;
  color: #667085;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100%;
}
.resevation-page-search-area .reservation-page-search-main-area .search-data-input-item .date-input-area button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  color: #202020;
  font-size: 20px;
}
.resevation-page-search-area .reservation-page-search-main-area .search-button button {
  padding: 8px 12px;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  line-height: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #01286D;
  margin-top: 20px;
  margin-left: 30px;
}

@media screen and (max-width: 992px) {
  .resevation-page-search-area .reservation-page-search-main-area {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    padding: 36px 15px;
  }
  .resevation-page-search-area .reservation-page-search-main-area .search-button button {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .resevation-page-search-area .reservation-page-search-main-area {
    grid-template-columns: repeat(3, 1.33fr);
    grid-template-rows: auto auto;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    padding: 36px 15px;
  }
  .resevation-page-search-area .reservation-page-search-main-area .search-data-input-item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .resevation-page-search-area .reservation-page-search-main-area .search-button button {
    margin-left: 0;
  }
}
@media screen and (max-width: 540px) {
  .resevation-page-search-area .reservation-page-search-main-area {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto auto;
  }
  .resevation-page-search-area .reservation-page-search-main-area .search-data-input-item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .resevation-page-search-area .reservation-page-search-main-area .search-button button {
    margin-left: 0;
  }
}
@media screen and (max-width: 420px) {
  .resevation-page-search-area .reservation-page-search-main-area {
    grid-template-columns: repeat(5, 4fr);
    grid-template-rows: auto auto;
  }
  .resevation-page-search-area .reservation-page-search-main-area .search-button button {
    margin-left: 0;
  }
}
header .top-header {
  background: #003087;
  height: 64px;
  padding-top: 14px;
}
header .top-header .top-header-main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top-header .top-header-main-area .logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 39.3px;
     -moz-column-gap: 39.3px;
          column-gap: 39.3px;
}
header .top-header .top-header-main-area .logo-area a {
  width: 32px;
}
header .top-header .top-header-main-area .logo-area h1 {
  color: #F7F8FA;
  font-size: 22px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}
header .top-header .top-header-main-area button {
  color: #ffffff;
  font-size: 22px;
  display: none;
}
header .top-header .top-header-main-area button .close {
  display: none;
}
header .bottom-header {
  background: #01286D;
  height: 64px;
  padding-top: 14px;
  padding-left: 49px;
}
header .bottom-header .bottom-header-main-area .navbar ul li {
  display: inline-block;
  margin-right: 70px;
}
header .bottom-header .bottom-header-main-area .navbar ul li a {
  color: #ffffff;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .bottom-header .bottom-header-main-area .navbar ul li a:hover {
  color: #00B3FF;
}
header .bottom-header .bottom-header-main-area .navbar ul li a:focus {
  color: #00B3FF;
}
header .bottom-header .bottom-header-main-area .navbar ul li .active {
  color: #00B3FF;
}
header .bottom-header .bottom-header-main-area .navbar ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1300px) {
  header .bottom-header .bottom-header-main-area .navbar ul li {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1200px) {
  header .bottom-header .bottom-header-main-area .navbar ul li {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1100px) {
  header .bottom-header .bottom-header-main-area .navbar ul li {
    margin-right: 29px;
  }
}
@media screen and (max-width: 992px) {
  header .top-header .top-header-main-area button {
    display: block;
  }
  header .bottom-header {
    display: none;
    height: auto;
    position: relative;
    z-index: 999999999999999;
  }
  header .bottom-header .bottom-header-main-area .navbar ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .bottom-header .bottom-header-main-area .navbar ul li:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.reservationPersondetails-alart-area {
  max-width: 428px;
  width: 100%;
  padding: 14px;
  background: #ffffff;
  border-radius: 8px;
  display: none;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .reservation-person-details-header {
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 27px;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .reservation-person-details-header button {
  font-size: 19px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #999999;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content .information-item .contact-item {
  margin-bottom: 19px;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content .information-item .contact-item h1 {
  color: #6D6D6D;
  font-size: 15px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content .information-item .contact-item p {
  color: #292929;
  font-size: 15px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  text-transform: lowercase;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content .information-item .contact-item span {
  color: #2DAE00;
  font-size: 15px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content .information-item .contact-item .massage-item ul li {
  display: inline-block;
  margin-right: 15px;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content .information-item .contact-item .massage-item ul li:last-child {
  margin-right: 0;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content .information-item .contact-item button {
  color: #FF4848;
  background: #FFE1E1;
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 18px;
  text-transform: capitalize;
  margin-top: 15px;
}
.reservationPersondetails-alart-area .reservation-person-details-main-area .person-detalis-content .information-item .reservationType span {
  color: #292929;
}