@import '../utils/mixins';
@import '../utils/variables';
.date-picker {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 2px solid $simpleblack;
    padding: 10px;
    z-index: 10;
    top: 100%;
    width: 100%;
    left: 0;
    border-radius: 8px;
    input{
        border-bottom: 2px solid $gray;
        padding-bottom: 7px;
    }
    button{
        @include commonBtnstyle;
        background: $blue;
        color: $white;
        margin-top: 10px;
        font-size: 12px;
        padding: 2px 8px;
        border-radius: 4px;
    }
}