@import '../utils/mixins';
@import '../utils/variables';

.person-information-main-area {
    background: $white;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 40px;

    .personal-info {
        padding: 10px;

        .personal-info-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            h1 {
                @include informationheader;
            }

            button {
                color: $green;
                font-size: 15px;

            }
        }

        .personal-info-input-area {
            display: grid;
            grid-template-columns: repeat(3, 1.33fr);
            row-gap: 30px;
            column-gap: 15px;

            .person-info-item {
                .info-input-box {
                    @include dataInputboxStyle;
                    position: relative;

                    .infolabel {
                        position: absolute;
                        top: -10px;
                        left: 12px;
                        color: $simpleblack;
                        font-family: $roboto;
                        font-weight: 400;
                        padding: 0 8px;
                        background: $darkwhite;
                        font-size: 11px;

                    }

                    input {
                        color: $black;
                        font-family: $roboto;
                        font-size: 13px;
                        font-weight: 400;
                        text-align: left;
                        width: 100%;
                        background: none;
                        border: none;

                        &:focus {
                            outline: none;
                        }
                    }

                    .inputnumberbox {
                        -moz-appearance: textfield;
                    }

                    select {
                        background: none;
                        border: none;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-family: $roboto;
                        color: $black;
                        font-weight: 400;
                    }

                    .gender-select {
                        width: 100%;
                    }
                }

                .numberInputbox {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                &:nth-child(4) {
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }





            }

            .other-informaton {
                grid-row-start: 3;
                grid-column-start: 1;
                grid-column-end: 4;
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                /* Two columns with equal width */
                grid-template-rows: auto auto;
                row-gap: 30px;
                column-gap: 15px;

                .person-info-item {
                    .info-input-box {
                        @include dataInputboxStyle;
                        position: relative;

                        .infolabel {
                            position: absolute;
                            top: -10px;
                            left: 12px;
                            color: $simpleblack;
                            font-family: $roboto;
                            font-weight: 400;
                            padding: 0 8px;
                            background: $darkwhite;
                            font-size: 11px;

                        }

                        input {
                            color: $black;
                            font-family: $roboto;
                            font-size: 13px;
                            font-weight: 400;
                            text-align: left;
                            width: 100%;
                            background: none;
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        .inputnumberbox {
                            -moz-appearance: textfield;
                        }

                        select {
                            background: none;
                            border: none;
                            text-transform: uppercase;
                            font-size: 13px;
                            font-family: $roboto;
                            color: $black;
                            font-weight: 400;
                        }

                        .gender-select {
                            width: 100%;
                        }
                    }

                    .numberInputbox {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    &:nth-child(1) {
                        grid-row: 1;
                        /* First row */
                        grid-column: 1;
                        /* First column */
                    }

                    &:nth-child(2) {
                        grid-row: 1;
                        /* First row */
                        grid-column: 2;
                        /* Second column */
                    }

                    &:nth-child(3) {
                        grid-row: 2;
                        /* Second row */
                        grid-column: 1;
                        /* First column */
                    }

                    &:nth-child(4) {
                        grid-row: 2;
                        /* Second row */
                        grid-column: 2;
                        /* Second column */
                    }

                }

            }
        }

        .images-id-capture-area {
            margin-top: 30px;

            h1 {
                font-size: 14px;
                font-family: $inter;
                font-weight: 500;
                line-height: 20px;
                color: #344054;
                text-transform: capitalize;
                margin-bottom: 10px;
            }

            .capture-mian-area {
                border: 2px solid $gray;
                padding: 11px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .images-id-left-side {
                    ul {
                        li {
                            display: inline-block;
                            vertical-align: middle;

                            span {

                                &:first-child {
                                    float: left;
                                    font-size: 15px;
                                    font-weight: 600;
                                    font-family: $dmSans;
                                    line-height: 23px;
                                    color: $simpleblack;
                                }

                                &:last-child {
                                    float: left;
                                    font-size: 12px;
                                    font-weight: 400;
                                    font-family: $dmSans;
                                    line-height: 23px;
                                    color: $simpleblack;
                                }
                            }

                            &:first-child {
                                height: 47px;
                                width: 47px;
                                border-radius: 50%;
                                overflow: hidden;
                                margin-right: 10px;
                            }
                        }
                    }
                }

                .images-id-right-side {
                    button {
                        @include commonBtnstyle;
                        border-radius: 0;
                        background: $simpleblack;
                        color: $white;
                        transition: .3s ease;
                        margin-right: 10px;

                        &:hover {
                            background: $black;
                        }
                    }
                }
            }

        }

        .import-document-area {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .document-area-left {
                .document-item-area {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 10px;

                    .document-item {
                        height: 61px;
                        width: 53px;
                        padding: 8px 3px;
                        border: 1px solid $gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        &::after {
                            content: "X";
                            color: red;
                            cursor: pointer;
                            font-size: 10px;
                            font-weight: 600;
                            font-family: $poppins;
                            position: absolute;
                            top: 2px;
                            right: 2px;
                            z-index: 1;
                        }
                    }
                }
            }

            .document-area-right {
                button {
                    @include commonBtnstyle;
                    border-radius: 0;
                    background: #0C256F;
                    color: $white;
                    transition: .3s ease;
                    margin-right: 10px;

                    &:hover {
                        background: $simpleblue;
                    }

                    &:last-child {
                        background: none;
                        border: 1px solid #0C256F;
                        color: $blue;
                        margin-right: 0;
                    }

                    .clock-icon {
                        margin-right: 10px;
                        transform: rotateZ(160deg);
                    }
                }
            }
        }


        .additional-information-header {
            margin-top: 38px;

            h1 {
                font: 32px;
                font-weight: 500;
                font-family: $dmSans;
                color: $simpleblack;
                text-transform: capitalize;
                margin-bottom: 23px;
            }
        }

        .additional-catagory-select-area {
            .additional-catagory-item {
                margin-bottom: 47px;

                button {
                    font-size: 20px;
                    font-family: $dmSans;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding-bottom: 10px;

                    &:first-child {
                        color: #0570DE;
                        border-bottom: 2px solid #0570DE;
                        margin-right: 20px;
                    }

                    &:last-child {
                        color: #000000a2;

                    }

                    &:hover {
                        color: #0570DE;
                        border-bottom: 2px solid #0570DE;
                    }
                }
            }

            .pet-select-area {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 30px;
                margin-bottom: 37px;

                .pet-item {
                    height: 61px;
                    width: 74px;
                    padding: 10px 18px;
                    border-radius: 6px;
                    cursor: pointer;

                    &:first-child {
                        border: 1px solid $blue;
                    }

                    &:last-child {
                        border: 1px solid $gray;
                    }
                }

            }

            .additional-item-data-input-area {
                margin-bottom: 55px;
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                /* Two columns with equal width */
                grid-template-rows: auto auto;
                row-gap: 30px;


                .person-info-item {
                    .info-input-box {
                        @include dataInputboxStyle;
                        position: relative;

                        .infolabel {
                            position: absolute;
                            top: -10px;
                            left: 12px;
                            color: $simpleblack;
                            font-family: $roboto;
                            font-weight: 400;
                            padding: 0 8px;
                            background: $darkwhite;
                            font-size: 11px;

                        }

                        input {
                            color: $black;
                            font-family: $roboto;
                            font-size: 13px;
                            font-weight: 400;
                            text-align: left;
                            width: 100%;
                            background: none;
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }

                        .inputnumberbox {
                            -moz-appearance: textfield;
                        }

                        select {
                            background: none;
                            border: none;
                            text-transform: uppercase;
                            font-size: 13px;
                            font-family: $roboto;
                            color: $black;
                            font-weight: 400;
                        }

                        .gender-select {
                            width: 100%;
                        }
                    }

                    .numberInputbox {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    &:nth-child(1) {
                        grid-row-start: 1;
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }

                    &:nth-child(2) {
                        margin-right: 15px;
                    }





                }
            }
        }
    }
    .booking-info{
        .personal-info-header{
            h1{
                @include informationheader;
            }
        }
    }

}

@media screen and (max-width:1300px ) {
    .person-information-main-area {
        .personal-info {
            .images-id-capture-area {
                .capture-mian-area {
                    column-gap: 20px;
                    .images-id-left-side{
                        flex-shrink: 0;
                    }
                    .images-id-right-side {
                        button {
                          &:first-child{
                            margin-bottom: 10px;
                            margin-right: 0;
                          }
                            
                        }
                    }
                }
            }

          
        }
    }
}

@media screen and (max-width:1100px ) {
    .person-information-main-area {
        .personal-info {
            .images-id-capture-area {
                .capture-mian-area {
                    column-gap: 20px;
                    flex-direction: column;
                    row-gap: 30px;
                    .images-id-left-side{
                        flex-shrink: 0;
                    }
                    .images-id-right-side {
                        
                        button {
                          &:first-child{
                            margin-bottom: 10px;
                            margin-right: 0;
                          }
                            
                        }
                    }
                }
            }

          
        }
    }
}
@media screen and (max-width:992px ) {
    .person-information-main-area {
        .personal-info {
            .personal-info-input-area{
               .person-info-item{
                &:nth-child(1){
                    grid-row-start: 1;
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
                &:nth-child(2){
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
                &:nth-child(3){
                    grid-row-start: 3;
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
                &:nth-child(4){
                    grid-row-start: 4;
                    grid-column-start: 1;
                    grid-column-end: 4;
                }

               } 
               .other-informaton{
                grid-row-start: 5;
                grid-column-start: 1;
                grid-column-end: 4;
                .person-info-item{
                    &:nth-child(1){
                        grid-row-start: 1;
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                    &:nth-child(2){
                        grid-row-start: 2;
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                    &:nth-child(3){
                        grid-row-start: 3;
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                    &:nth-child(4){
                        grid-row-start: 4;
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                }
               }
            }
            .import-document-area {
                flex-direction: column;
                row-gap: 30px;
                .document-area-left {}
            }
        }
    }
}