@import '../utils/mixins';
@import '../utils/variables';


.calenderOrtable-selector {
    padding: 14px 0;

    .calenderOrtable-button-area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 15px;

        button {
            width: 40px;
            height: 35px;
            border-radius: 5px;
            font-size: 23px;

            &:first-child {
                background: $blue;
                color: $white;
            }

            &:last-child {
                background: $white;
                color: $blue;
                border: 2px solid $gray;
                transition: .3s ease;

                &:hover {
                    background: $blue;
                    color: $white;
                    border: none;
                }
            }
        }
    }
}
.resevation-search-area{
    .reservation-search-main-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .calender-header{
            h1{
                color: $simpleblack;
                font-size: 38px;
                font-family: $dmSans;
                font-weight: 600;
            }
        }
        .reservation-search-property{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 14px;
            .search-date-selector-box{
                @include dataInputboxStyle;
                padding-right: 54px;
                position: relative;
                span{
                    position: absolute;
                    top: -10px;
                    left: 12px;
                    color: $simpleblack;
                    font-family: $roboto;
                    font-weight: 400;
                    padding: 0 8px;
                    background: $darkwhite;
                }
                input{
                    color: $black;
                    font-family: $roboto;
                    font-size: 12px;
                    font-weight: 400;
                    text-align: center;
                    width: 100%;
                    background: none;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .paidOrunpaid-selector{
                @include dataInputboxStyle;
                select{
                    @include optionselectStyle;
                }
            }
            .resevationtype-selector{
                @include dataInputboxStyle;
                select{
                    @include optionselectStyle;
                }
            }
            .dailyOrmonthly-selector{
                @include dataInputboxStyle;
                select{
                    @include optionselectStyle;
                }
            }
            .reservation-search-btn{
                @include commonBtnstyle;
                background: $blue
            }
            .new-reservation-btn{
                @include commonBtnstyle;
                background: $simpleblack;
            }
        }
    }
}