@import '../utils/variables';

.checkin-full-wrapper{
    background: $white;
    margin: 38px 19px 80px 19px;
    padding: 20px;
    border-radius: 10px;
    .reservation-header{
        margin-top: 0;
        margin-bottom: 0;
    }
    .resevation-page-search-area{
        .reservation-page-search-main-area{
            grid-template-columns: repeat(5 , 1fr);
            grid-template-rows: auto auto;
            column-gap: 10px;
            .search-button{
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 10px;
                button{
                    margin: 0;
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen  and (max-width: 1300px){
    .checkin-full-wrapper{

    }
}