@import '../utils/variables';

.checkin-full-wrapper{
    background: $white;
    margin: 38px 19px 80px 19px;
    padding: 20px;
    border-radius: 10px;
    .reservation-header{
        margin-top: 0;
        margin-bottom: 0;
    }
    .resevation-page-search-area{
        .reservation-page-search-main-area{
            grid-template-columns: repeat(5 , 1fr);
            grid-template-rows: auto auto;
            column-gap: 10px;
            .search-button{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                column-gap: 10px;
                button{
                    margin: 0;
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
    }
    .reservation-results-header{
        .reservation-results-header-main-area{
            padding-left: 15px;
            margin-bottom: 20px;
            h1{
                color: #464646;
                font-size: 21px;
                font-weight: 500;
               
            }
        }
    }
    .booking-details-room-main-area{
        .booking-details-room-item{
            width: 249px;
            height: 199px;
            background: $white;
            border: 1px solid rgba(220, 220, 220, 0.46);
            padding: 20px;
           .booking-details-room-main-area{
            .checkinroom-details-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .checkin-room-type{
                    background: #002f873d;
                    padding: 5px;
                    h1{
                        font-size: 15px;
                        font-weight: 400;
                        font-family: $roboto;
                        color: #002f87c9;

                    }
                }
                .checkin-room-icon{
                    width: 25px;
                }
            }
           } 
        }
    }
}

@media screen  and (max-width: 1300px){
    .checkin-full-wrapper{
        .resevation-page-search-area{
            .reservation-page-search-main-area{
                grid-template-columns: repeat(4 , 1fr);
                .search-data-input-item{
                  
                }
                .search-button{
                    grid-row-start: 2;
                    grid-column-start: 4;
                    grid-column-end: 5;
                 
                }
            }
           
        }
    }
}
@media screen  and (max-width: 1100px){
    .checkin-full-wrapper{
        .resevation-page-search-area{
            .reservation-page-search-main-area{
                grid-template-columns: repeat(3 , 1fr);
                row-gap: 10px;
                .search-data-input-item{
                  &:nth-child(4){
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                  }
                }
                .search-button{
                    grid-row-start: 2;
                    grid-column-start: 3;
                    grid-column-end: 5;
                 
                }
            }
           
        }
    }
}
@media screen  and (max-width: 768px){
    .checkin-full-wrapper{
        .resevation-page-search-area{
            .reservation-page-search-main-area{
                grid-template-columns: repeat(4 , 1fr);
                .search-data-input-item{
                  &:nth-child(1){
                    grid-row-start: 1;
                    grid-column-start: 1;
                    grid-column-end: 3;
                  }
                  &:nth-child(2){
                    grid-row-start: 1;
                    grid-column-start: 3;
                    grid-column-end: 5;
                  }
                  &:nth-child(3){
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                  }
                  &:nth-child(4){
                    grid-row-start: 2;
                    grid-column-start: 3;
                    grid-column-end: 5;
                  }
                }
                .search-button{
                    grid-row-start: 3;
                    grid-column-start: 3;
                    grid-column-end: 5;
                 
                }
            }
           
        }
    }
}
@media screen  and (max-width: 600px){
    .checkin-full-wrapper{
        .resevation-page-search-area{
            .reservation-page-search-main-area{
                grid-template-columns: repeat(4 , 1fr);
                .search-data-input-item{
                  &:nth-child(1){
                    grid-row-start: 1;
                    grid-column-start: 1;
                    grid-column-end: 5;
                  }
                  &:nth-child(2){
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-column-end: 5;
                  }
                  &:nth-child(3){
                    grid-row-start: 3;
                    grid-column-start: 1;
                    grid-column-end: 5;
                  }
                  &:nth-child(4){
                    grid-row-start: 4;
                    grid-column-start: 1;
                    grid-column-end: 5;
                  }
                }
                .search-button{
                    grid-row-start: 5;
                    grid-column-start: 1;
                    grid-column-end: 5;
                 
                }
            }
           
        }
    }
}
@media screen  and (max-width: 420px){
    .checkin-full-wrapper{
        .resevation-page-search-area{
            .reservation-page-search-main-area{
                padding-left: 0;
            }
        }
    }
}