@import '../utils/mixins';
@import '../utils/variables';

.checkin-vertical-header {
    margin-top: 10px;

    .resevation-page-search-area {
        margin-bottom: 7px;

        .reservation-page-search-main-area {
            .search-button {
                display: flex;
                justify-content: space-between;
                align-items: end;
                padding-bottom: 5px;
                column-gap: 10px;

                button {
                    margin: 0;

                    img {
                        width: 27px;
                    }

                    &:nth-child(2) {
                        font-size: 27px;
                        padding: 5px;
                        padding-bottom: 6px;
                        background: none;
                        color: $black;

                    }

                    &:nth-child(3) {
                        font-size: 27px;
                        padding: 5px;
                        padding-bottom: 6px;
                        background: none;
                        color: $black;
                    }
                }

                .alignmentactive {
                    background: $blue !important;
                    color: $white !important;
                }
            }
        }
    }
}

.vertical-check-in-main-wrapper {
    .verical-check-in-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 10px;
        flex-wrap: wrap;
        row-gap: 20px;

        .vertical-content-item {
            padding: 17px;
            min-width: 344px;

            border-radius: 6.874px;
            background: #FFF;

            .vertcal-contenti-item-main-area {

                .vertical-content-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1 {
                        color: #333;
                        font-family: $poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    .right-side {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        column-gap: 10px;

                        .alignment-button {
                            background: $blue;
                            padding: 4px 4px;

                            img {
                                width: 19px;
                            }
                        }

                        button {
                            color: #FFF;
                            font-family: "DM Sans";
                            font-size: 11.84px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 14.759px;
                            /* 124.657% */
                            border-radius: 4.92px;
                            border: 0.615px solid #000;
                            background: #202020;
                            text-transform: capitalize;
                            padding: 5px 3px;
                        }

                        .searchbtn {
                            background: none;
                            border: none;
                            color: #bdbdbd;
                            font-size: 20px
                        }

                        .add-task-area {
                            position: relative;

                            .task-popup {
                                display: none;
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                transform: translateX(-50%);
                                z-index: 3;
                                width: 94px;
                                padding: 10px;
                                background: $white;
                                box-shadow: 0 25px 35px rgba(0, 0, 0, 0.5);
                                border-radius: 7px;

                                .task-item {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 10px;

                                    button {
                                        background: $white;
                                        color: $black;

                                        &:hover {
                                            background: $blue;
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }

                        .person-info-item {
                            .info-input-box {
                                height: 28px;
                                width: 86px;
                                border: 2px solid #D0D5DD;
                                position: relative;

                                input {
                                    color: $black;
                                    font-family: $roboto;
                                    font-size: 13px;
                                    font-weight: 400;
                                    text-align: left;
                                    width: 100%;
                                    background: none;
                                    border: none;

                                    &:focus {
                                        outline: none;
                                    }
                                }

                                .inputnumberbox {
                                    -moz-appearance: textfield;
                                }

                                .numbercode {
                                    width: 44px !important;
                                }



                                .gender-select {
                                    width: 100%;
                                }

                                .selectbox {
                                    text-transform: capitalize;
                                    font-size: 10px;
                                    font-family: $roboto;
                                    color: $black;
                                    cursor: pointer;
                                }

                                .downarrowbtn {
                                    position: absolute;
                                    right: 7px;
                                    color: $black;
                                    font-size: 15px;
                                    top: 50%;
                                    transform: translateY(-50%);


                                }

                                .select-manu {
                                    position: absolute;
                                    top: 110%;
                                    left: 0;
                                    right: 0;
                                    background: $white;
                                    text-transform: uppercase;
                                    font-size: 13px;
                                    font-family: $roboto;
                                    color: $black;
                                    font-weight: 400;
                                    border-radius: 8px;
                                    padding: 10px;
                                    z-index: 2;
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                    display: none;

                                    li {
                                        margin-bottom: 10px;
                                        width: 100%;
                                        padding: 10px;
                                        transition: .3s;
                                        cursor: pointer;

                                        &:hover {
                                            background: $blue;
                                            color: $white;

                                        }
                                    }

                                }



                            }



                        }

                        .arival-alignment-button {
                            background: $blue;
                            padding: 3px 3px 1px 3px;

                            img {
                                width: 17px;
                            }
                        }

                        .inhouse-alignment-button {
                            background: $blue;
                            padding: 3px 3px 1px 3px;

                            img {
                                width: 17px;
                            }
                        }

                        .departure-alignment-button {
                            background: $blue;
                            padding: 3px 3px 1px 3px;

                            img {
                                width: 17px;
                            }
                        }

                        .housekeeping-alignment-button {
                            background: $blue;
                            padding: 3px 3px 1px 3px;

                            img {
                                width: 17px;
                            }
                        }
                    }
                }

                .vertical-content-body {
                    margin-top: 30px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    row-gap: 20px;
                    overflow-y: auto;
                    height: 550px;
                    position: relative;
                    scrollbar-width: thin;
                    /* "auto" or "thin" */
                    scrollbar-color: #D9D9D9 transparent;

                    /* For WebKit (Chrome, Safari) */
                    .vertical-content-body::-webkit-scrollbar {
                        width: 9px;
                    }

                    .vertical-content-body::-webkit-scrollbar-track {
                        background: transparent;
                    }

                    .vertical-content-body::-webkit-scrollbar-thumb {
                        background-color: #D9D9D9;
                        border-radius: 5px;
                    }

                    /* For Firefox */
                    .vertical-content-body {
                        scrollbar-width: thin;
                        scrollbar-color: #D9D9D9 transparent;
                    }

                    /* For Firefox track */
                    .vertical-content-body {
                        scrollbar-track-color: transparent;
                    }


                    .row-divider{
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                    }
                    .reservation-item {

                        .booking-details-room-item {
                            min-width: 247px;
                            width: 100%;
                            height: 260px;
                            background: $white;
                            border: 1px solid rgba(220, 220, 220, 0.46);
                            padding: 20px;
                            border-radius: 6px;
                            position: relative;

                            .active-icon {
                                position: absolute;
                                top: 8px;
                                right: 8px;
                                color: #49C14E;
                                font-size: 10px;
                            }

                            .booking-details-room-main-area {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                .checkinroom-details-header {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;


                                    .checkin-room-type {


                                        h1 {
                                            color: #000;
                                            font-family: $roboto;
                                            font-size: 18.969px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;

                                        }
                                    }

                                    .right-side {
                                        ul {
                                            li {
                                                display: inline-block;
                                                color: #0C0C0C;
                                                font-family: $roboto;
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: normal;

                                                &:last-child {
                                                    color: #7D7D7D;
                                                }
                                            }
                                        }
                                    }

                                }



                                .booking-number-time {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;


                                    p {
                                        color: rgba(0, 48, 135, 0.85);
                                        font-family: $roboto;
                                        font-size: 11.994px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        border-radius: 0.97px;
                                        background: rgba(0, 48, 135, 0.12);
                                        padding: 5px;

                                    }

                                    ul {
                                        width: 50%;


                                        li {
                                            text-align: start;
                                            font-size: 12px;
                                            font-family: $roboto;
                                            font-weight: 400;
                                            text-align: left;

                                            &:nth-child(1) {
                                                color: #7D7D7D;
                                                margin-bottom: 2px;
                                            }

                                            &:nth-child(2) {
                                                color: #003087;
                                                text-decoration: underline;
                                            }
                                        }

                                        &:last-child {
                                            li {
                                                text-align: end;

                                                &:last-child {
                                                    color: #000;
                                                    font-family: $roboto;
                                                    font-size: 12.42px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: normal;
                                                    text-decoration: none;

                                                }
                                            }
                                        }

                                        .person-info-item {
                                            .info-input-box {
                                                height: 23px;
                                                width: 100%;
                                                border: 1px solid #D0D5DD;
                                                position: relative;

                                                input {
                                                    color: $black;
                                                    font-family: $roboto;
                                                    font-size: 13px;
                                                    font-weight: 400;
                                                    text-align: left;
                                                    width: 100%;
                                                    background: none;
                                                    border: none;

                                                    &:focus {
                                                        outline: none;
                                                    }
                                                }

                                                .inputnumberbox {
                                                    -moz-appearance: textfield;
                                                }

                                                .numbercode {
                                                    width: 44px !important;
                                                }



                                                .gender-select {
                                                    width: 100%;
                                                }

                                                .selectbox {
                                                    text-transform: capitalize;
                                                    font-size: 10px;
                                                    font-family: $roboto;
                                                    color: $black;
                                                    cursor: pointer;
                                                }

                                                .downarrowbtn {
                                                    position: absolute;
                                                    right: 7px;
                                                    color: $black;
                                                    font-size: 10px;
                                                    top: 50%;
                                                    transform: translateY(-50%);


                                                }

                                                .select-manu {
                                                    position: absolute;
                                                    top: 110%;
                                                    left: 0;
                                                    width: 100px;
                                                    background: $white;
                                                    text-transform: uppercase;
                                                    font-size: 13px;
                                                    font-family: $roboto;
                                                    color: $black;
                                                    font-weight: 400;
                                                    border-radius: 8px;
                                                    padding: 10px;
                                                    z-index: 2;
                                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                                    display: none;

                                                    li {
                                                        margin-bottom: 10px;
                                                        width: 100%;
                                                        padding: 10px;
                                                        transition: .3s;
                                                        cursor: pointer;

                                                        &:hover {
                                                            background: $blue;
                                                            color: $white;

                                                        }
                                                    }

                                                }



                                            }



                                        }
                                    }

                                    .bookingnumber {
                                        li {
                                            text-align: start !important;
                                            font-size: 12px;
                                            font-family: $roboto;
                                            font-weight: 400;
                                            text-align: left;

                                            &:first-child {
                                                color: #7D7D7D;
                                                margin-bottom: 2px;
                                            }

                                            &:last-child {
                                                color: #003087 !important;
                                                text-decoration: underline !important;
                                            }
                                        }
                                    }

                                    .stayoverbtn {

                                        font-family: $roboto;
                                        font-size: 12.005px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;

                                        padding: 4.8px 9.601px;
                                        margin-bottom: -17px;
                                    }
                                }

                                .payment-by {
                                    li {
                                        display: inline-block;

                                        button {
                                            border-radius: 2.178px;
                                            background: #FFB6B6;
                                            padding: 3px 7px;

                                            .xroundmark {
                                                border: 2px solid;
                                                color: rgb(190, 4, 4);
                                                border-radius: 50%;
                                                padding: 2px 3px;
                                                font-size: 10px;
                                            }
                                        }

                                        &:first-child {
                                            button {
                                                border-radius: 2.178px;
                                                background: #12B76A;
                                                padding: 5px 12px 3px 12px;
                                                border: 2px solid;
                                                color: $white;
                                                border-radius: 4px;
                                                height: 100%;
                                                font-size: 15px;

                                            }
                                        }
                                    }
                                }

                                .selet-rooms {
                                    p {
                                        margin-bottom: -14px;
                                    }
                                }

                                .housekeepingstatus {
                                    ul {
                                        li {
                                            .circle-size {
                                                font-size: 10px;
                                                margin-right: 7px;
                                            }
                                        }
                                    }
                                }

                                .booking-date-footer {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;



                                    ul {
                                        li {
                                            font-size: 12px;
                                            font-family: $roboto;
                                            font-weight: 400;

                                            &:first-child {
                                                color: #7D7D7D;
                                                margin-bottom: 2px;
                                            }

                                            &:last-child {
                                                color: #000000;
                                            }

                                            .edit {
                                                color: #12B76A;
                                                border-radius: 2.234px;
                                                background: #A4FFA7 !important;
                                                padding: 5px !important;
                                            }

                                            .trash {
                                                color: #FF4242;
                                                border-radius: 2.234px;

                                                padding: 5px !important;
                                            }
                                        }

                                        &:last-child {
                                            li {
                                                display: inline-block;

                                                &:first-child {
                                                    color: $black;
                                                    font-size: 20px;
                                                }

                                                &:last-child {}

                                                button {
                                                    border-radius: 2.178px;
                                                    background: #FFB6B6;
                                                    padding: 3px 7px;

                                                    .xroundmark {
                                                        border: 2px solid;
                                                        color: rgb(190, 4, 4);
                                                        border-radius: 50%;
                                                        padding: 2px 3px;
                                                        font-size: 10px;
                                                    }
                                                }

                                            }
                                        }
                                    }

                                    button {
                                        font-size: 12px;
                                        font-family: $roboto;
                                        font-weight: 400;
                                        color: $white;
                                        background: #003087;
                                        padding: 5px;
                                    }

                                    .checkout {
                                        background: #ED3131;
                                        color: $white;
                                    }
                                }
                            }

                        }

                        .horizontal-booking-details-room-item {
                            padding: 20px 1px 1px 1px;
                            height: 181px;

                            .booking-details-room-main-area {

                                .checkinroom-details-header {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding-left: 20px;

                                    .booking-number-time {
                                        margin-top: 0;
                                        width: fit-content;
                                        border-top: none;
                                    }
                                }

                                .booking-number-time {
                                    border-top: 1px solid #D0D5DD;
                                    padding: 0 20px;

                                    ul {
                                        &:first-child {
                                            border-right: 1px solid #D0D5DD;
                                        }

                                        padding: 15px 0;
                                    }

                                    .payment-by {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        column-gap: 10px;
                                    }
                                }

                                .booking-date-footer {
                                    background: #d8e1ee;
                                    padding: 13px 20px;
                                    border-radius: 0 0 5px 5px;
                                    margin-top: 0;

                                }
                            }
                        }

                        .arival-horizontal {
                            display: none;
                        }

                        .inhouse-horizontal {
                            display: none;
                        }

                        .departure-horizontal {
                            display: none;
                        }

                        .housekeeping-horizontal {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}