@import '../utils/mixins';
@import '../utils/variables';

.full-wrapper{
    background: $white;
    height: 100vh;
    .login-page-main-area{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left-side{
            padding: 40px;
            width: 50%;
            .header{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 20px;
                logo{
                    width: 40px;
                }
                h1{
                    font-family: $roboto;
                    color: $blue;
                    font-size: 25px;
                    font-weight: 600;
                }
            }
            h2{
                font-family: $roboto;
                    color: $blue;
                    font-size: 25px;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-top: 80px;
                    margin-bottom: 10px;
            }
            p{
                color: $blue;
                font-size: 14px;
                font-weight: 500;
                font-family: $dmSans;
            }
            .login-information{
                margin-top: 50px;
                .login-input-item{
                    margin-bottom: 30px;
                    h3{
                        font-size: 18px;
                        font-weight: 500;
                        font-family: $dmSans;
                        text-transform: capitalize;
                        margin-bottom: 10px;
                    }
                    input{
                        width: 100%;
                        border: 1px solid $gray;
                        height: 53px;
                        color: $simpleblack;
                        font-family: $inter;
                        border-radius: 10px;
                        padding: 0 20px;
                    }
                }
            }
            .loginbtn{
                background: $blue;
                color: $white;
                text-transform: capitalize;
                width: 100%;
                height: 50px;
                border-radius: 10px;
                transition: all .5s;
                font-family: $dmSans;
                font-weight: 500;
                font-size: 18px;
                &:hover{
                    background: $simpleblue;
                }
            }
            .didnthaveaccount{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 15px;
                margin-top: 30px;
                span{
                    color: $black;
                    font-weight: 400;
                    font-family: $inter;
                    font-size: 14px;
                }
                button{
                    color: $blue;
                    font-weight: 600;
                    font-size: 20px;
                    transition: .3s;
                    font-family: $dmSans;
                    &:hover{
                        color: $simpleblack;
                    }
                }
            }
            .login-with{
                font-size: 20px;
                font-family: $roboto;
                font-weight: 500;
                color: gray;
                display: flex;
                justify-content: center;
                column-gap: 15px;
                align-items: center;
                text-transform: capitalize;
                margin-top: 30px;
                .loginwith-content{
                    width: 316px;
                }
                .bar{
                    background: gray;
                    height: 2px;
                    width: 100%;
                    border-radius: 1px;
                }
            }
            .social-media-icon{
                display: flex;
                justify-content: center;
                margin-top: 30px;
                ul{
                    li{
                        display: inline-block;
                        margin-right: 15px;
                        a{
                         
                            height: 30px;
                            width: 30px;
                            display: block;
                            border-radius: 50%;
                            font-size: 15px;
                            text-align: center;
                            color: $white;
                            padding-top: 8px;
                            transition: .3s;
                           &:hover{
                            background: #00173b !important;
                           }
                        }
                        &:nth-child(1){
                            a{
                                background: #0863F7;
                            }
                        }
                        &:nth-child(2){
                            a{
                                background: #1C9CEA;
                            }
                        }
                        &:nth-child(3){
                            a{
                                background: #2A61A6;
                            }
                        }
                        &:nth-child(4){
                            a{
                                background: #C31786;
                            }
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .right-side{
            width: 50%;
           img{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
           }
        }
    }
}